
h1{
    color:rgb(2, 75, 26);
}
body{
    background-color:rgb(255, 255, 255);
}
#sona{
    width:100%;
    height:30px;
    background-color:  rgb(9, 223, 9);
}

#sona ul{
    float:left;
    margin-top:5px;
}
#sona ul li{
	display:inline;
	padding:70px;
}
#sona ul li a{
	text-decoration:none;
	font:40px;
}
#cas{
	width:100%;
	height:290px;
	background:#FF8C00;
}
#cas address{
	margin-left:45px;
	font-size:15;
	
}
#cas address b{
	margin-left:45px;
	font-size:20px;
	margin-bottom:45px;
}
#cas a{
	margin-left:45px;
	font-size:15px;
	text-decoration:none;
	min-height:25px;
}
#frame{
	float:right;
	margin-right:80px;
	margin-top:20px 200px;
	margin-top: -275px;
}

