*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
#sona{
    width:100%;
    height:30px;
    background-color:  rgb(9, 223, 9);
}

#sona ul{
    float:left;
    margin-top:5px;
}
#sona ul li{
	display:inline;
	padding:70px;
}
#sona ul li a{
	text-decoration:none;
	font:40px;
}
#cas{
	width:100%;
	height:290px;
	background:#FF8C00;
}
#cas address{
	margin-left:45px;
	font-size:15;
	
}
#cas address b{
	margin-left:45px;
	font-size:20px;
	margin-bottom:45px;
}
#cas a{
	margin-left:45px;
	font-size:15px;
	text-decoration:none;
	min-height:25px;
}
#frame{
	float:right;
	margin-right:80px;
	margin-top:20px 200px;
	margin-top: -275px;
}
.cont {
    border: 10px solid rgb(176, 160, 160);
    border-width: 0 0 1px 10px;
    border-bottom: 2px solid #FF8C00;
    padding: 0 0 5px 10px;
    margin: 0 0 25px 0;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    clear: both;
}

